Repository 13ty/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: ensure repo and worktree creators are added to Unix groups (#548)
  apps/agor-daemon/src/services/repos.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/commands/unix.ts
  packages/executor/src/payload-types.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix: sync unix passwords independently of RBAC mode (#552)
  apps/agor-daemon/src/index.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat: add database connection info to agor config output (#558)
  apps/agor-cli/src/commands/config/index.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix: close conversation panel when switching boards (#572)
  apps/agor-ui/src/components/App/App.tsx
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump agor-live to 0.11.3
  packages/agor-live/package.json
Due: prettier --write

fix: zod v4 compatibility for executor (z.record, env type)
  packages/agor-live/package.json
  packages/executor/src/cli.ts
  packages/executor/src/payload-types.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: remove SSRF restriction blocking localhost MCP server testing (#575)
  apps/agor-daemon/src/index.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

chore: update demo video link to newer unscripted demo (#584)
  README.md
  apps/agor-docs/pages/blog/announcement.mdx
  apps/agor-docs/pages/guide/index.mdx
Due: prettier --write

chore: bump agor-live to 0.12.2
  packages/agor-live/package.json
Due: prettier --write

chore: remove accidental agor-live dependency from root
  package-lock.json
  package.json
  packages/agor-live/package-lock.json
Due: prettier --write

feat: Add session URLs to Slack Gateway messages & BASE_URL config (#622)
  apps/agor-daemon/src/mcp/routes.ts
  apps/agor-daemon/src/services/gateway.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  packages/core/src/db/repositories/boards.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/board.ts
  packages/core/src/types/session.ts
  packages/core/src/utils/url.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat: Track message source for bidirectional gateway routing (#629)
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/hooks/gateway-route.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/hooks/useSessionActions.ts
  packages/core/src/types/message.ts
  packages/executor/src/cli.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/handlers/sdk/claude.ts
  packages/executor/src/handlers/sdk/codex.ts
  packages/executor/src/handlers/sdk/gemini.ts
  packages/executor/src/handlers/sdk/tool-registry.ts
  packages/executor/src/index.ts
  packages/executor/src/payload-types.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/message-builder.ts
  packages/executor/src/sdk-handlers/codex/codex-tool.ts
  packages/executor/src/sdk-handlers/gemini/gemini-tool.ts
  packages/executor/src/types.ts
  packages/executor/tsconfig.tsbuildinfo
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome ci --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: any of: *.{json,md,yaml,yml}
