Repository 13ty/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["biome ci --no-errors-on-unmatched --files-ignore-unknown=true"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat: Add rich metadata pills to event stream panel (#287)
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/EventStreamPanel/EventItem.tsx
  apps/agor-ui/src/components/EventStreamPanel/EventStreamPanel.tsx
  apps/agor-ui/src/components/EventStreamPanel/index.ts
  apps/agor-ui/src/components/Pill/EventStreamPill.tsx
  apps/agor-ui/src/components/Pill/Pill.stories.tsx
  apps/agor-ui/src/components/Pill/SessionMetadataCard.tsx
  apps/agor-ui/src/components/Pill/index.ts
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  context/explorations/event-stream-rich-pills.md
  context/explorations/worktree-card-composition-analysis.md
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

0.8.2
  .devcontainer/devcontainer.json
  packages/agor-live/package.json
Due: prettier --write

terminal click feature (#293)
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-ui/src/components/TerminalModal/TerminalModal.tsx
  scripts/sync-agor-live-deps.mjs
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat(ui): @ mention autocomplete and highlighting (#297)
  apps/agor-daemon/src/mcp/routes.ts
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.tsx
  apps/agor-ui/src/components/CommentsPanel/CommentsPanel.tsx
  apps/agor-ui/src/components/EventStreamPanel/EventItem.tsx
  apps/agor-ui/src/components/EventStreamPanel/EventStreamPanel.tsx
  apps/agor-ui/src/components/ForkSpawnModal/ForkSpawnModal.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  apps/agor-ui/src/components/NewSessionModal/NewSessionModal.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionDrawer/SessionDrawer.tsx
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  apps/agor-ui/src/components/metadata/UserAvatar.tsx
  apps/agor-ui/src/components/mobile/MobilePromptInput.tsx
  apps/agor-ui/src/components/mobile/SessionPage.tsx
  apps/agor-ui/src/utils/highlightMentions.tsx
  context/explorations/text-highlights.md
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(ui): add user pill to event stream items (#304)
  apps/agor-ui/src/components/EventStreamPanel/EventItem.tsx
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

test: add unit tests for 5 utility files (#307)
  packages/core/src/tools/codex/models.test.ts
  packages/core/src/tools/codex/normalizer.test.ts
  packages/core/src/tools/gemini/models.test.ts
  packages/core/src/tools/gemini/normalizer.test.ts
  packages/core/src/utils/url.test.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat(ui): ensure worktree pin colors have minimum contrast (#309)
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  apps/agor-ui/src/utils/theme.test.ts
  apps/agor-ui/src/utils/theme.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix: Properly fetch tags for new repos (#333)
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  packages/core/src/git/index.test.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix: session state timing and Gemini tool execution bugs (#340)
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-ui/src/hooks/useAgorData.ts
  packages/core/src/templates/agor-system-prompt.md
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: cosmetic UI improvements and Docker build race condition (#344)
  apps/agor-ui/src/components/EnvironmentLogsModal/EnvironmentLogsModal.tsx
  apps/agor-ui/src/components/EventStreamPanel/EventItem.tsx
  apps/agor-ui/src/index.css
  docker/docker-entrypoint.sh
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat: upgrade Claude SDK and add Opus 4.5 support (#362)
  apps/agor-daemon/package.json
  docker/Dockerfile
  packages/agor-live/package.json
  packages/core/package.json
  packages/core/src/models/claude.ts
  packages/executor/src/sdk-handlers/claude/models.ts
  pnpm-lock.yaml
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: sort board dropdown alphabetically by name (#370)
  apps/agor-ui/src/components/BoardSwitcher/BoardSwitcher.tsx
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix: preserve session permission mode when spawning executor (#373)
  apps/agor-daemon/src/index.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix: resolve subsession callback authentication failure (#385)
  apps/agor-daemon/src/services/tasks.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

perf: eliminate pnpm install at container startup (#396)
  docker-compose.yml
  docker/Dockerfile
  docker/docker-entrypoint.sh
Due: prettier --write

chore: clean up verbose logging and fix frontend warnings (#403)
  apps/agor-daemon/src/index.ts
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BrandLogo/BrandLogo.tsx
  apps/agor-ui/src/components/Facepile/Facepile.tsx
  apps/agor-ui/src/components/GettingStartedPopover/GettingStartedPopover.tsx
  apps/agor-ui/src/contexts/ThemeContext.tsx
  apps/agor-ui/src/hooks/useAgorClient.ts
  apps/agor-ui/src/hooks/useAuth.ts
  apps/agor-ui/src/utils/handlebars-helpers.ts
  context/explorations/file-upload.md
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/repositories/tasks.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(ui): add fitView when switching boards + fix SQLite migration 0018 (#423)
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  packages/core/drizzle/sqlite/0016_gorgeous_talkback.sql
  packages/core/drizzle/sqlite/0018_fantastic_bruce_banner.sql
  packages/core/src/db/schema.sqlite.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat(executor): materialize normalized_sdk_response for token accounting (#425)
  apps/agor-ui/src/components/Pill/Pill.tsx
  context/explorations/materialize_normalized_sdk_payload.md
  docker-compose.yml
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/base/index.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/normalizer-factory.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(daemon): filter session-mcp-servers by session_id in find() (#429)
  apps/agor-daemon/src/index.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat: centralize pagination limits to prevent data truncation (#443)
  apps/agor-cli/src/commands/board/add-session.ts
  apps/agor-cli/src/commands/board/list.ts
  apps/agor-cli/src/commands/repo/list.ts
  apps/agor-cli/src/commands/session/list.ts
  apps/agor-cli/src/commands/worktree/list.ts
  apps/agor-daemon/src/mcp/tokens.ts
  apps/agor-daemon/src/services/board-comments.ts
  apps/agor-daemon/src/services/boards.ts
  apps/agor-daemon/src/services/mcp-servers.ts
  apps/agor-daemon/src/services/messages.ts
  apps/agor-daemon/src/services/repos.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-ui/src/hooks/useAgorData.ts
  apps/agor-ui/src/hooks/useMessages.ts
  apps/agor-ui/src/hooks/useTaskMessages.ts
  apps/agor-ui/src/hooks/useTasks.ts
  packages/core/src/config/constants.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix(unix): add -n flag to all sudo calls to prevent TTY freezes
  apps/agor-daemon/src/services/terminals.ts
  packages/core/src/unix/command-executor.ts
  packages/core/src/unix/user-manager.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

chore: delete a few root files that don't belong
  DESIGN-rbac-and-session-immutability.md
  faq.md
  test-executor-spawning.sh
  test-executor.mjs
  update-lockfile.sh
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(unix): add sudoers reference file and consolidate executor logging (#446)
  apps/agor-cli/src/commands/admin/add-to-worktree-group.ts
  apps/agor-cli/src/commands/admin/create-symlink.ts
  apps/agor-cli/src/commands/admin/create-worktree-group.ts
  apps/agor-cli/src/commands/admin/delete-user.ts
  apps/agor-cli/src/commands/admin/delete-worktree-group.ts
  apps/agor-cli/src/commands/admin/ensure-user.ts
  apps/agor-cli/src/commands/admin/remove-from-worktree-group.ts
  apps/agor-cli/src/commands/admin/remove-symlink.ts
  apps/agor-cli/src/commands/admin/sync-unix.ts
  apps/agor-cli/src/commands/admin/sync-user-symlinks.ts
  apps/agor-docs/pages/guide/multiplayer-unix-isolation.mdx
  context/guides/rbac-and-unix-isolation.md
  docker/sudoers/agor-daemon.sudoers
  packages/core/src/unix/command-executor.ts
  packages/core/src/unix/group-manager.test.ts
  packages/core/src/unix/group-manager.ts
  packages/core/src/unix/symlink-manager.test.ts
  packages/core/src/unix/symlink-manager.ts
  packages/core/src/unix/unix-integration-service.ts
  packages/core/src/unix/user-manager.test.ts
  packages/core/src/unix/user-manager.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(mcp): add missing fields to MCP server query schema (#454)
  packages/core/src/lib/feathers-validation.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat(unix): add FreshGroupsExecutor for Unix group membership refresh (#457)
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-daemon/src/services/unix-integration.ts
  context/explorations/simplified-messaging.md
  docker/Dockerfile
  docker/docker-entrypoint.sh
  packages/core/src/config/config-manager.ts
  packages/core/src/git/index.ts
  packages/core/src/seed/dev-fixtures.ts
  packages/core/src/unix/group-manager.test.ts
  packages/core/src/unix/group-manager.ts
  packages/core/src/unix/index.ts
  packages/core/src/unix/run-as-user.test.ts
  packages/core/src/unix/run-as-user.ts
  packages/core/src/unix/unix-integration-service.ts
  packages/core/src/unix/user-manager.test.ts
  packages/core/src/unix/user-manager.ts
  scripts/create-rbac-test-users.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(executor): use AbortController for reliable Claude SDK stop (#460)
  apps/agor-daemon/src/index.ts
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix(ui,executor): fix favicon base path and stop task ID mismatch (#461)
  apps/agor-ui/index.html
  apps/agor-ui/src/hooks/useFaviconStatus.ts
  packages/executor/src/index.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

feat(session): disambiguate Agor and Claude SDK session IDs in context (#465)
  packages/core/src/templates/agor-system-prompt.md
  packages/core/src/templates/session-context.ts
  packages/executor/src/sdk-handlers/claude/session-context.test.ts
  packages/executor/src/sdk-handlers/claude/session-context.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(executor): Executor expansion - Zellij terminal architecture (#482)
  apps/agor-daemon/package.json
  apps/agor-daemon/src/auth/service-jwt-strategy.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/repos.ts
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-daemon/src/services/unix-integration.ts
  apps/agor-daemon/src/services/worktree-owners.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-daemon/src/setup/socketio.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/TerminalModal/TerminalModal.tsx
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  context/explorations/executor-expansion.md
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/git/index.test.ts
  packages/core/src/git/index.ts
  packages/core/src/types/worktree.ts
  packages/executor/package.json
  packages/executor/src/cli.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/commands/index.test.ts
  packages/executor/src/commands/index.ts
  packages/executor/src/commands/unix.ts
  packages/executor/src/commands/zellij.ts
  packages/executor/src/payload-types.test.ts
  packages/executor/src/payload-types.ts
  pnpm-lock.yaml
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(executor): prevent stop signal from affecting subsequent tasks (#493)
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/sessions/hooks/handle-stop.ts
  apps/agor-daemon/src/services/tasks.ts
  docker/docker-entrypoint.sh
  packages/executor/src/index.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

refactor(unix): avoid sudo find by moving sudo inside -exec
  packages/core/src/unix/group-manager.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix(executor): make sudo explicit in UnixGroupCommands definitions
  apps/agor-daemon/src/services/repos.ts
  packages/core/src/unix/group-manager.ts
  packages/executor/src/commands/unix.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix(unix): configure git safe.directory on user create/patch to prevent dubious ownership errors
  apps/agor-daemon/src/index.ts
  packages/core/src/config/config-manager.ts
  packages/executor/src/commands/unix.ts
  packages/executor/src/payload-types.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix(docker): optimize entrypoint permission fix for fast startup (#514)
  docker/docker-entrypoint.sh
Due: none

Remove excessive streaming chunk logging (#521)
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/claude/message-processor.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

fix: impersonate unix user for git operations (#527)
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/repos.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-daemon/src/utils/git-impersonation.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true

chore(agor-live): bump version to 0.11.0
  packages/agor-live/package.json
Due: prettier --write

feat(mcp): add zone pinning and trigger support (#538)
  apps/agor-daemon/src/mcp/routes.ts
Due: biome ci --no-errors-on-unmatched --files-ignore-unknown=true
